.UserProfile {
    height: 100vh;
    width: 100%;
    margin-top: 10%;
    background-color: white;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
        display: none; 
    }

    .UserSection {
        position: absolute;
        top: 5px;
        left: 20px;

        .avatarandpen {
            display: flex;
            align-items: center;

            .editButton {
                margin-left: 10px;
                background-color: #f0f0f0;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                padding: 5px 10px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }

        .username {
             position: absolute;
            left:25px;
            font-weight: bold; 
            color: rgb(0, 0, 0);
            font-size: 2em;
        }
    }

    .GoodsStatus {
        position: relative; 
        width:74%;
        // border: 1px solid black;
        border-radius: 5px;
        top: 0px; 
        left: 50%;
        padding-bottom: 10px;
        height: 100%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        color: red;
         overflow-y: auto; // Cho phép cuộn khi nội dung vượt quá chiều cao
       &::-webkit-scrollbar {
        display: none; 
      }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;

        .modalContent {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 400px;
            position: relative;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                font-size: 1.5em;
            }

            form {
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 10px;

                    input {
                        margin-top: 5px;
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                    }
                }

                button {
                    margin-top: 15px;
                    padding: 10px;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }
        }
    }
}
